/* Clear 1 số thuộc tính về trang thái ban đầu */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Auto xuất hiện nếu trang web có ảnh */
img {
    max-width: 100%;
    display: block;
    margin: auto;
}
.image img{
    width: 100%;
    height: 100%;
    /* gữi tỷ lệ ban đầu */
     object-fit: cover; 
}

.container {
    width: 1200px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
}

.courses-item {
    flex-basis: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
}


/* style card */
.card {
    height: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    margin: auto;
    

    border-radius: 5px;
    overflow: hidden;
}

.content {
    padding: 20px;
}

.title {
    font-size: 19px;
    color : #464646;
    font-weight: 400;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type, .rating {
    font-size: 14px;
    color: #757575;
    font-weight: 100;
}

.type {
    margin: 14px 0;
}

.rating span {
    color: #ffd600;
}
/* footer */
a:link {
    text-decoration: none;
  }

a:visited {
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
  }

a:active {
    text-decoration: underline;
  }
a{
    color: #fff;
}
footer{
    font-family: 'Roboto', sans-serif;
    background-color: #30598c ;
    /* background-size: 100%; */
    box-sizing: border-box;
    color: #fff;
    padding: 20px;
    font-size: 14px;
    
}
div{
    margin-bottom: 16px;
    line-height: 35px;
}
footer div ul {
    list-style-type: none;
}

.footercontent{
    padding: 20px;
    flex-basis: 25%;
}