
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Roboto', sans-serif;

}
.card {
    width: 420px;
    height: 360px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);;
    /* cho ra giữa */
    margin: auto;
    margin-top: 50px;
    /* bo góc của khung */
    border-radius: 10px;
    overflow: hidden;
    line-height: 20px;
}

.cal{
    height: 150px;
    text-align: center;
    background-color:rgb(254, 109, 63);
    color: aliceblue;
}
.month{
    padding: 10px;
}
.year{
    background-color: rgb(239, 83, 33);
}
.lich{
    padding:30px;
    
}
.day{
    font-size: 40px;
}
.reg{
    padding: 10px 0 5px 0;;
    border-top: 4px groove;
}
.content{
    padding: 20px;
}
.tyle{
    padding-top: 20px;
}
a:link {
    text-decoration: none;
  }

a:visited {
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
  }

a:active {
    text-decoration: underline;
  }